[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StatDA"]
	path = StatDA
	url = https://github.com/cran/StatDA
[submodule "chemometrics"]
	path = chemometrics
	url = https://github.com/cran/chemometrics
[submodule "rpls"]
	path = rpls
	url = https://github.com/cran/rpls
