[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rpls"]
	path = rpls
	url = https://github.com/cran/rpls
	shallow = true
	registered = true
